body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
}

#sortearBtn {
    margin-right: 20px; /* Espaçamento à direita do botão */
}

#bingoTable {
    margin-left: auto; /* Alinha a tabela à direita */
}