body {
    margin: 0;
    padding: 0;
}

.blue-column {
    width: 20%;
    height: 100vh;
    background-color: blue;
    float: left; /* Alinha à esquerda */
}

.yellow-column {
    width: 80%;
    height: 100vh;
    background-color: yellow;
    float: left; /* Alinha à esquerda */
}