body {
    display: grid;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#sortearBtn {
    order: 1; /* Define a ordem do botão para ser o segundo item */
}

#bingoTable {
    order: 2; /* Define a ordem da tabela para ser o terceiro item */
}